<?xml version="1.0"?>
<config>
    <modules>
        <Ak_Brands>
            <version>1.0.0</version>
        </Ak_Brands>
    </modules>
    <global>
        <blocks>
            <ak_brands>
                <class>Ak_Brands_Block</class>
            </ak_brands>
        </blocks>
        <helpers>
            <ak_brands>
                <class>Ak_Brands_Helper</class>
            </ak_brands>
        </helpers>
        <models>
            <ak_brands>
                <class>Ak_Brands_Model</class>
                <resourceModel>ak_brands_resource</resourceModel>
            </ak_brands>
            <ak_brands_resource>
                <class>Ak_Brands_Model_Resource</class>
                <entities>
                    <brand>
                        <table>ak_brands_brand_entity</table>
                    </brand>
                    <brand_entity_varchar>
                        <table>ak_brands_brand_entity_varchar</table>
                    </brand_entity_varchar>
                    <brand_entity_text>
                        <table>ak_brands_brand_entity_text</table>
                    </brand_entity_text>
                    <brand_entity_int>
                        <table>ak_brands_brand_entity_int</table>
                    </brand_entity_int>
                    <brand_entity_datetime>
                        <table>ak_brands_brand_entity_datetime</table>
                    </brand_entity_datetime>
                    <eav_attribute>
                        <table>ak_brands_eav_attribute</table>
                    </eav_attribute>
                    <eav_attribute_website>
                        <table>ak_brands_eav_attribute_website</table>
                    </eav_attribute_website>
                    <form_attribute>
                        <table>ak_brands_form_attribute</table>
                    </form_attribute>
                </entities>
            </ak_brands_resource>
        </models>
        <resources>
            <ak_brands_setup>
                <setup>
                    <module>Ak_Brands</module>
                    <class>Ak_Brands_Model_Resource_Setup</class>
                </setup>
            </ak_brands_setup>
        </resources>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <ak_brands>
                    <file>ak/brands.xml</file>
                </ak_brands>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ak_brands before="Mage_Adminhtml">Ak_Brands_Adminhtml</ak_brands>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <layout>
            <updates>
                <ak_brands>
                    <file>ak/brands.xml</file>
                </ak_brands>
            </updates>
        </layout>
    </frontend>
</config>
